*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#app{
    height: 100vh;
}
.paragraph{
    padding: 50px;
    /* background: rgb(49, 49, 49); */
    border-radius: 10px;
    box-shadow: 1px 3px 16px 10px rgba(0,0,0,0.35);
    display: flex;
    flex-direction: column;
    width: 300px;
}
p{
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 1.5rem;
}
button{
    margin: 10px;
    padding: 5px;
    border-radius: 10%;
    border: none;
    background-color: rgb(47, 98, 181);
    color: white;
    cursor: pointer;
    align-self: end;
}
section{
    position: relative;
}
.image{
    width: 100px;
    position: absolute;
    top: 25px;
    left: 200px;
    /* padding: 10px; */
    /* margin-left: 10px; */
}